img {
  width: 45%;
}

h1 {
  color: rgb(216, 153, 5);
}

.edu-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(216, 153, 5);
  margin-bottom: 3rem;
}

.description {
  padding: 2rem 6rem;
}

.description h5 {
  color: rgb(227, 158, 19);
  font-size: 20px;
  text-align: center;
}

.carousel-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative; */
}

.carousel-control-prev-icon {
  position: absolute;
  background-color: rgb(227, 158, 19);
  left: 0;
}

.carousel-control-next-icon {
  position: absolute;
  background-color: rgb(227, 158, 19);
  right: 0;
}

.ulesson-benefits {
  font-weight: 500;
}
