* {
  text-align: center;
}

.faq-container {
  padding: 3rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid rgb(216, 153, 5);
}

.faq-heading {
  color: rgb(216, 153, 5);
  padding-bottom: 1rem;
}
